@charset "UTF-8";

/*エラー時の赤文字*/
.err{
	color:red;
	
}

/*全てのスタイル*/
html{
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 18px;
	text-align: center;
	width: max-content;
	margin-right: auto;
  	margin-left: auto;
  	background-image:url('./intecs_image.png');
	background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    min-width: 800px;
    min-height: 500px;
}
body{
	background-color: #fff;
}

/*ボーダー引きたい所に class="border"*/
.border{
	padding-bottom: 20px;
	border-bottom: 6px solid #003A8F;
	margin: 0px;
}

.border2{
	padding: 20px 0 0 0;
	border-bottom: 6px solid #003A8F;
}
/*テーブル枠*/
table{
	border: 2px solid #000000;
	border-collapse: collapse;
	background-color:rgb(255,255,255);
	width: max-content;
	text-align: center;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
}
th{
	border: 2px solid #000000;
	border-collapse: collapse;
	width: 70px;
	height: 30px;
	font-size: 18px;
}
th.width{
	width: 150px;
}
td{
	border: 2px solid #000000;
	border-collapse: collapse;
	width: max-content;
	height: 40px;
}
input.button{
	padding: 1px;
	margin: 0 5px
}

/*タイトルカラー*/
h1{
	font-size: 40px;
	color: rgb(0, 58, 143);
	width: 800px;
}
h2{
	margin-bottom: 0px;
	font-size: 24px;
}

/*予約前ボタン class="button"*/
.button{
	font-size: 16px;
	background-color:rgb(3, 103, 252);
	color:#fff;
	margin-top: auto;
	margin-bottom: auto;
	width: 55px;
	height: 30px;
}
/*予約済み後ボタン class="after"*/
.after{
	color: rgb(255, 0, 0);
}

/*ボタンの横並び*/
.yoko{
	display: flex;
	justify-content: center;
	text-align: center;
}
input{
	margin: 15px 10px 0 10px;
}

/*確認画面左字揃え*/
.center {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
 }
 .left {
    display: inline-block;
    text-align: left;
 }
 /*CanselInput*/
 span{
	 font-size: 24px;
 }
 
 /*menu*/
 .menub{
	border: #fff;
	 background-color: rgb(3, 103, 252);
	 color: #fff;
	 font-size: 1rem;
	 width: 150px;
	 margin-top: 25px;
 }
 h4{
	 margin :15px;
 }